.header {
  font-size: 5em;
}

.Global {
  background-color: rgb(255, 255, 255);
}

tr:hover {
  background-color: rgb(47, 0, 255);
  color: white;
  font-size: 25px;
}
.scrollmap {
  height: 620px;
  overflow-y: scroll;
}
.Glb {
  height: 890px;
  background-image: url(../src/worldmap1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glbtable {
  margin-top: 5%;
}
.Sea {
  height: 890px;
  background-image: url(../src/Map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
