.header {
  font-size: 5em;
}

.Global {
  background-color: rgb(255, 255, 255);
}

tr:hover {
  background-color: rgb(47, 0, 255);
  color: white;
  font-size: 25px;
}
.scrollmap {
  height: 620px;
  overflow-y: scroll;
}
